/* Default link style */
a {
	text-decoration: none;
  }
  
  /* Highlighted Uyir letters */
  .highlighted {
	color: #ff5722; /* Orange color for highlighted text */
	text-decoration: underline; /* Underline for emphasis */
	font-weight: bold;
	cursor: pointer;
  }
  
 